body{
  margin-bottom: 110px;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0px;
  background-color: #71002E;
  border-radius: 40px 40px 0px 0px;
  padding-bottom: 5%;
}
footer > p {
    color: white;
}
header {
  background-color: #71002E;
  padding: 1vh;
  margin-bottom: 1vh;
}
header > h1 {
    color: white;
}
input {
  width: 10vw;
}
p {
    padding: 0;
    margin: 0;
}

.button {
  background-color: #71002E;
  color: white;
  font-size: 1rem;
  border: none;  
  margin: 4px 6px;
  border-radius: 50px;
}
.buttonText {
   padding: 0.5rem; 
}
.cards {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding:1em;
  border: 1px solid;
  border-radius: 50px;
  margin: 0.2em 2em 0.2em 2em;
}
.inline {
    display:inline;
}
.size {
    width: 20vw;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
