body, body:focus{
  margin-bottom: 110px;
}

footer, footer:focus {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0px;
  background-color: #71002E;
  padding-bottom: 5%;
  color: white;
}

header, header:focus {
  background-color: #71002E;
  padding: 1vh;
  margin-bottom: 1vh;
}
header > h1, header > h2 {
    color: white;
}

p, p:focus {
    padding: 0;
    margin: 0;
}

.button, .button:focus {
  background-color: #71002E;
  color: white;
  font-size: 1rem;
  border: none;  
  margin: 4px 6px;
  border-radius: 50px;
}
.buttonText {
   padding: 0.5rem; 
}
.cards, .cards:focus {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding:1em;
  border: 1px solid;
  border-radius: 50px;
  margin: 0.2em 2em 0.2em 2em;
}
.hidden {
    display: none;
}
.inline {
  display:inline;
}
.pToSwish {
  margin-right: 8vw;
}
.size, .size:focus {
  width: 20vw;
}
.search, .search:focus {
  text-align: center;
  width: 60vw;
  height: 6vh;
  border: 1px solid;
  border-radius: 50px;
  margin: 0.2em 2em 0.2em 2em;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
